<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


	<settings>
    	<setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    
    
    
	<typeAliases>
		<typeAlias alias="doorInfo" type="com.wechat.gatingsystem.po.DoorInfo"/>
		<typeAlias alias="userInfo" type="com.wechat.gatingsystem.po.UserInfo"/>
		<typeAlias alias="relation" type="com.wechat.gatingsystem.po.Relation"/>
		<typeAlias alias="openRecord" type="com.wechat.gatingsystem.po.OpenRecord"/>
	</typeAliases>
	       
</configuration>