<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.gatingsystem.dao.UserInfoDAO">

    <resultMap id="result" type="java.util.HashMap">

        <!--这里设置id属性，会影响输出 -->
        <!--<id column="user_phone" property="userPhone"/> -->
        <result column="user_phone" property="userPhone"/>
        <result column="user_name" property="userName"/>
        <result column="is_admin" property="isAdmin"/>
        <result column="door_id" property="doorID"/>
        <result column="door_name" property="doorName"/>
        <result column="relation_id" property="relationID"/>
        <result column="door_create_time" property="doorCreateTime"/>
        <result column="door_more_info" property="doorMoreInfo"/>

        <association column="user_id" property="userID" javaType="relation"/>
        <association column="door_id" property="doorID" javaType="doorInfo"/>
    </resultMap>

    <select id="selectRelaDoorByUserPhone" parameterType="String" resultMap="result">
		select a.user_name, a.user_phone, b.is_admin, c.door_id, c.door_name,c.door_create_time,c.door_more_info,b.relation_id
		from user_info as a, relation as b, door_info as c
		where a.user_id=b.user_id AND b.door_id=c.door_id AND user_phone=#{userPhone}
	</select>

    <select id="findByName" parameterType="String" resultType="userInfo">
        select * from user_info where user_name=#{userName}
    </select>

    <insert id="insertUserInfo" parameterType="userInfo">
        insert into user_info(user_phone, user_password, user_name, user_email)
        values(#{userPhone}, #{userPassword}, #{userName}, #{userEmail})
    </insert>

    <!--考虑怎么传多个参数-->
    <select id="judgePassword" resultType="userInfo">
        select * from user_info where user_name=#{0} and user_password = #{1}
    </select>

    <update id="updateUserInfo" parameterType="userInfo">
        update user_info set user_phone = #{userPhone}, user_email = #{userEmail} where user_name = #{userName};
    </update>

    <select id="findById" parameterType="int" resultType="userInfo">
        select * from user_info where user_id = #{userID}
    </select>
</mapper>